.AccessSection {
  width: 100%;
  min-height: fit-content;
  /*  border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
  flex-direction: column;
}

.AccessSection-title {
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 0%;
  color: #191919;
  padding: 0;
}

.AccessSection-list {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .AccessSection {
    margin: 50px 0;
  }

  .AccessSection-title {
    font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
    box-sizing: border-box;
    padding: 0 5px;
  }

  .AccessSection-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
