.Models {
    width: 60%;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    min-height: 100%;

}

.Model-box {
    width: 25%;
    min-height: 100%;
    position: relative;
    transition: all 0.2s ease-out;
}


.kraken {
    background-image: url("/krakenposter.jpg");
    background-size: cover;
    background-position: 50%;
}

.kawaii {
    background-image: url("/kawaii/kawaii6.jpg");
    background-size: cover;
    background-position: 40%;
}

.orange {
    background-image: url("/orangeposter.jpg");
    background-size: cover;
    background-position: 40%;
}

.leo {
    background-image: url("/leoposter.jpg");
    background-size: cover;
    background-position: 45%;
}

.Models-shader {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.80015756302521) 80%, rgba(0, 0, 0, 0.3) 100%);
}

.Model-name {
    color: white;
    margin: 0;
}