.RogueRage {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.RogueRage-img-box {
    width: 100%;
    height: 70%;
    background-image: url("/rogue-rage/rage3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.RogueRage-poster-text {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.RogueRage-model {

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
}

.RogueRage-model-a {
    color: black;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 35px;
    border-bottom: 1px solid black;
    z-index: 2;
}

.RogueRage-model-b {
    color: white;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    z-index: 3;
    margin-bottom: 10px;
}

.RogueRage-name {
    color: white;
    letter-spacing: 5px;
    z-index: 3;
    font-style: italic;
    display: none;
}

.RogueRage-name-box {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    font-style: italic;

}

.RogueRage-text-box {
    width: 100%;
    height: 30%;
    background-color: #D1D1CF;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.RogueRage-text-box p {
    z-index: 3;
    position: absolute;
    top: 30px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 3px;
    font-weight: 500;
}

.RogueRage-go {
    z-index: 3;
    position: absolute;
    top: 90px;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    /* border: 1px solid white; */
    box-sizing: border-box;

    transition: all 0.2s ease-out;
}

.RogueRage-go:hover {
    border-bottom: 1px solid white;
}

.RogueRage-waves {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    border-radius: 0 0 5px 5px;
    z-index: 2;

}

.RogueRage-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8029586834733894) 20%, rgba(0, 0, 0, 0.1) 60%);
    z-index: 1;
    top: 0;
    border-radius: 5px;
}



@media (max-width:767px) {

    .RogueRage {
        padding-top: 4vh;
        background-color: #D0D3D8;
        box-sizing: border-box;
    }

    .RogueRage-img-box {
        height: 70%;
        border-radius: 0;
        background-position: 35%;
        background-image: url("/rogue-rage/rage3.jpg");
    }


    .RogueRage-name {
        display: none;
    }



    .RogueRage-model {
        right: 5px;
        top: 20px;
    }

    .RogueRage-model-a {

        font-size: clamp(25px, 8.22vw + 0.12rem, 35px);
    }

    .RogueRage-model-b {
        color: white;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: clamp(30px, 10vw + 0.12rem, 40px);

        text-align: center;

    }

    .RogueRage-name-box {
        position: absolute;
        display: block;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        display: flex;
        justify-content: center;
        font-style: italic;
        color: white;
        letter-spacing: 5px;
        z-index: 3;
        font-size: clamp(18px, 5.72vw + 0.12rem, 20px)
    }

    .RogueRage-text-box {
        width: 100%;
        height: 30%;
        background-color: #D1D1CF;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .RogueRage-text-box p {
        z-index: 3;
        position: absolute;
        top: 0%;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 3px;
        font-weight: 500;

        padding: 0 5px;
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
    }

    .RogueRage-go {
        z-index: 3;
        position: absolute;
        top: 50%;
        color: white;
        text-decoration: none;
        letter-spacing: 5px;
        /* border: 1px solid white; */
        box-sizing: border-box;
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
        transition: all 0.2s ease-out;
    }

    .RogueRage-waves {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80%;

        z-index: 2;
    }
}


@media (min-width:768px) and (max-width:1023px) {
    .RogueRage-text-box p {
        text-align: center;
    }
}