.RoguePride {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.RoguePride-img-box {
    width: 100%;
    height: 70%;
    background-image: url("/rogue-pride/pride3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.RoguePride-poster-text {
    position: absolute;
    /*  background: linear-gradient(to top, rgba(106, 4, 15, 1), rgba(0, 0, 0, 0.3)); */

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.RoguePride-model {
    /*   border: 1px solid black; */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
}

.RoguePride-model-a {
    color: #262B87;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 35px;
    border-bottom: 1px solid #262B87;
    ;
    z-index: 2;
}

.RoguePride-model-b {
    color: white;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    z-index: 3;
}

.RoguePride-name-box {
    position: absolute;
    bottom: 0px;

    color: white;
    letter-spacing: 5px;
    z-index: 3;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.RoguePride-text-box {
    width: 100%;
    height: 30%;
    background-color: #DDDED9;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.RoguePride-text-box p {
    z-index: 3;
    position: absolute;
    top: 30px;
    color: black;
    letter-spacing: 3px;
    font-weight: 500;
}

.RoguePride-go {
    z-index: 3;
    position: absolute;
    top: 90px;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    /* border: 1px solid white; */
    box-sizing: border-box;

    transition: all 0.2s ease-out;
}

.RoguePride-go:hover {
    border-bottom: 1px solid white;

}

.RoguePride-waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    height: 75%;

}

.RoguePride-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(38, 43, 135);
    background: linear-gradient(0deg, rgba(38, 43, 135, 1) 0%, rgba(38, 43, 135, 0.8) 20%, rgba(0, 0, 0, 0.1) 60%);
    z-index: 1;
    top: 0;
    border-radius: 5px;
}


@media (max-width:767px) {
    .RoguePride {
        padding-top: 4vh;
        background-color: #DBDAD5;
        box-sizing: border-box;
    }

    .RoguePride-img-box {
        height: 70%;
        border-radius: 0;
        background-position: bottom;
        /* background-image: url("/rogue-Pride/Pride6.jpg"); */
    }

    .RoguePride-model {
        right: 10px;
        top: 20px;
        width: fit-content;
    }

    .RoguePride-model-a {
        font-size: clamp(25px, 8.22vw + 0.12rem, 35px);
    }

    .RoguePride-model-b {
        color: white;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: clamp(30px, 10vw + 0.12rem, 40px);

        text-align: center;

    }

    .RoguePride-name-box {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        display: flex;
        justify-content: center;
        font-style: italic;
        color: white;
        letter-spacing: 5px;
        z-index: 3;
        font-size: clamp(18px, 5.72vw + 0.12rem, 20px)
    }

    .RoguePride-text-box {
        width: 100%;
        height: 30%;
        background-color: #D1D1CF;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border: 1px solid white;

    }

    .RoguePride-text-box p {
        z-index: 3;
        position: absolute;
        top: 0%;
        text-align: center;
        color: #191919;
        letter-spacing: 3px;
        font-weight: 500;

        padding: 0 5px;
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
    }

    .RoguePride-go {
        z-index: 3;
        position: absolute;
        top: 50%;
        color: white;
        text-decoration: none;
        letter-spacing: 5px;
        /* border: 1px solid white; */
        box-sizing: border-box;
        font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
        transition: all 0.2s ease-out;
    }

    .RoguePride-waves {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;
        border-radius: 0;
        z-index: 2;

    }
}

@media (min-width:768px) and (max-width:1023px) {
    .RoguePride-text-box p {
        text-align: center;
    }
}