.ItemPage {
  width: 100%;
  margin-top: 8vh;
  margin-bottom: 30px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.ItemPage-max-container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: ItemPageAppear 0.6s 0s forwards ease-out;
}

@keyframes ItemPageAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ItemPage-container {
  height: 100%;
  background-color: whitesmoke;
  width: 95%;
  box-sizing: border-box;
  padding: 2% 0;
  display: flex;
}

.ItemPage-img-container {
  height: 100%;
  width: 50%;
  display: flex;
}

.ItemPage-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2% 5%;
}

.ItemPage-text-title-box {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.ItemPage-title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ItemPage-price {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  background-color: #191919;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.ItemPage-model {
  width: 100%;

  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.ItemPage-name {
  width: 100%;

  font-size: 20px;
  font-style: italic;
  letter-spacing: 2px;
}

.Itempage-reviews {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: fit-content;
  /* border: 1px solid black; */
}

.ItemPage-bottom {
  min-height: 300px;
  width: 95%;
  background-color: whitespace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.ItemPage-related-list {
  font-weight: bold;
  letter-spacing: 3px;
}

.ItemPage-bottom-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 80px;
  height: fit-content;
  padding: 20px 0;
  box-sizing: border-box;
  padding-left: 20px;

  padding-right: 30px;
}

.ItemPage-card-container {
  text-decoration: none;
  color: #191919;
  width: 320px;
  width: min(90%, 300px);
  /*   height: 320px;
    height: clamp(210px, 50%, 350px); */
  height: 230px;
  /*  min-width: 200px;
    min-height: 220px; */
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemPage-loader-box {
  width: 100%;
  height: 100%;
  min-height: 92vh;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.ItemPage-loader-box .loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  letter-spacing: 3px;
  color: #495057;
}

.ItemPage-loader-box .loader {
  border: 4px solid #dee2e6;
  border-top: 4px solid #495057;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .ItemPage {
    width: 100%;
    margin-top: 0;
    padding: 0;
    margin-top: calc(-2.86vw - 0.12rem);
    min-height: fit-content;
    height: fit-content;
  }

  .ItemPage-max-container {
    gap: 50px;
    min-height: fit-content;
    height: fit-content;
  }

  .ItemPage-container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .ItemPage-img-container {
    height: auto;
    width: 100%;
    display: flex;
  }

  .ItemPage-bottom {
    min-height: 370px;
    height: fit-content;
    width: 95%;
    background-color: whitespace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .ItemPage-related-list {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: clamp(16px, 4.72vw + 0.12rem, 24px);
  }

  .ItemPage-bottom-container {
    width: 100%;

    min-height: 400px;
    min-height: fit-content;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    padding-left: 0;
    padding: 20px 0;
  }

  .ItemPage-card-container {
    width: min(80vw, 320px);
    height: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ItemPage {
    gap: 30px;
  }

  .ItemPage-max-container {
    gap: 60px;
  }

  .ItemPage-img-container {
    height: 100%;
    width: 50%;
    display: flex;
  }

  .ItemPage-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 2% 5%;
  }

  .ItemPage-bottom-container {
    padding-left: 0;
    gap: 60px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
