.MiniImg {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
}

.MiniImg img {
    width: 100%;
    cursor: pointer;
}

.MiniImg-displayed-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

@media (max-width:767px) {


    .MiniImg img {
        width: calc(33vw + 0.12rem);
        height: 100%;
        cursor: pointer;
    }


}


@media (min-width:768px) and (max-width:1024px) {
    .MiniImg img {
        width: 100px;
        cursor: pointer;
    }
}