.MiniImg {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}

.MiniImg img {
  width: 100%;
  cursor: pointer;
}

.miniImg-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}

/* .MiniImg-displayed-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
} */

@media (max-width: 767px) {
  .MiniImg {
    min-width: fit-content;
  }
  .MiniImg img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .MiniImg img {
    width: 100px;
    cursor: pointer;
  }
}
