.ReviewBanner {
  width: 100%;

  height: 80px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.ReviewBanner-prompt {
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
}

.ReviewBanner-sort-box {
  height: 100%;

  display: flex;
  width: fit-content;
  align-items: center;
  gap: 50px;
}

.ReviewBanner-sort-btn {
  background-color: whitesmoke;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  height: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: 1px solid #dee2e6;
}

.ReviewBanner-sort-btn:hover {
  transform: scale(1.05);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.selected-sort-btn {
  transform: scale(1.05);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid #adb0b3;
}

@media (max-width: 767px) {
  .ReviewBanner {
    width: 100%;

    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 6.45vw + 0.12rem, 30px);

    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }

  .ReviewBanner-prompt {
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: clamp(16px, 4.72vw + 0.12rem, 20px);
  }
  .ReviewBanner-sort-box {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;

    justify-content: center;
    gap: 10px;
  }

  .ReviewBanner-sort-btn {
    font-size: clamp(14px, 4vw + 0.12rem, 16px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ReviewBanner {
    flex-direction: column;

    height: fit-content;
    gap: 30px;
  }

  .ReviewBanner-prompt {
    font-size: clamp(16px, 1.83vw + 0.12rem, 20px);
  }

  .ReviewBanner-sort-btn {
    font-size: clamp(14px, 1.57vw + 0.12rem, 16px);
  }
}
