.ItemListPage-max-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}


.ItemListPage {
    margin-top: 8vh;
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 92vh;
}







.ItemListPage-loader-box {
    width: 100%;
    height: 100%;
    min-height: 92vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

.ItemListPage-loader-box .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    letter-spacing: 3px;
    color: #495057;
}

.ItemListPage-loader-box .loader {
    border: 4px solid #dee2e6;
    border-top: 4px solid #495057;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width:767px) {
    .ItemListPage {
        z-index: 3;
    }

}