.AboutUsPage {
    margin-top: 8vh;
    width: 100%;
    min-height: 92vh;
    /* min-height: fit-content; */
    height: fit-content;
    padding: 2% 5%;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.AboutUs-container {
    min-height: fit-content;
    height: fit-content;
    height: 100%;
    min-width: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    /*  border: 1px solid black; */
    box-sizing: border-box;
}

.AboutUs-img {
    width: 40%;
    border-radius: 5px;
    height: 100%;
    background-position: bottom;
    background-size: cover;
    background-color: #191919;
    background-image: url("/rogue-rage/rage1.jpg");
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}



.AboutUs-text {
    width: 58%;

}

.AboutUs-text p {
    line-height: 30px;
}

.AboutUs-title {
    color: #191919;
    letter-spacing: 5px;
}

.AboutUs-subtitle {
    color: #191919;
    letter-spacing: 5px;
}



.AboutUs-loader-box {
    width: 100%;
    height: 100%;
    min-height: 92vh;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

.AboutUs-loader-box .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    letter-spacing: 3px;
    color: #495057;
}

.AboutUs-loader-box .loader {
    border: 4px solid #dee2e6;
    border-top: 4px solid #495057;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}