.ProductCardXL {
    /*   width: 200px;
    height: 220px; */
    width: 320px;
    width: min(90%, 300px);
    height: 320px;
    height: clamp(320px, 50%, 350px);
    /*  min-width: 200px;
    min-height: 220px; */
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: #191919;

    /*  background-color: #191919;
    color: white; */
}

.ProductCardXL:hover {
    transform: scale(1.05);

}








.ProductCardXL-img-box {
    width: 100%;
    border-radius: 10px;
    height: 70%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
}



.ProductCardXL-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ProductCardXL-text-box {
    width: 100%;
    height: 30%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.ProductCardXL-text-up {

    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;

}

.ProductCardXL-text-down {
    /*  border: 1px solid black; */
    display: flex;
    height: 50%;
    align-items: flex-start;
    justify-content: space-between;
}

.ProductCardXL-name {
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
}

.ProductsCardXL-add-btn {
    color: #191919;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 2px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.ProductsCardXL-add-btn:hover {
    transform: scale(1.05);
}





/* 
@media (max-width:767px) {

    .ProductCardXL {

        min-width: min(80%, 240px);
        min-height: 270px;
        height: 220px;
       



        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
        border-radius: 10px;

    }

    .ProductCardXL-img-box {
        width: 100%;
        border-radius: 10px;
        height: 70%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }

    .ProductCardXL-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .ProductCardXL-text-box {
        width: 100%;
        height: 30%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .ProductCardXL-text-up {

        display: flex;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
    }

    .ProductCardXL-text-down {

        display: flex;
        height: 50%;
        justify-content: space-between;
    }

    .ProductCardXL-name {
        font-weight: 200;
        font-style: italic;
        font-size: 14px;
    }


} */